{% extends "base.html" %}

{% block content %}
<h1>Edit Your Profile</h1>
<form action="" method="post" name="edit">
    {{ form.hidden_tag() }}
    <ul>
        <li>
        <label>Your Nickname:</label>
        {{form.nickname()}}
        {% for error in form.errors.nickname %}
        <span style="color:red;">[{{error}}]</span>
        {% endfor %}
        </li>
        <li>
        <label>About Yourself:</label>
        {{form.about_me()}}
        </li>
    </ul>
    <input type="submit" value="Save Changes" >
</form>
{% endblock %}